.reviews{
    padding-bottom: 71px;

    &__item{
        display: flex;
        margin-top: 100px;
        &:nth-child(1){
            margin-top: 70px;
        }

    }
    &__img{
        width: 169px;
        height: 169px;
        margin-left: 20px;
    }
    &__text{
        margin-left: 62px;
        padding-right: 50px;
    }
    &__subtitle{
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: left;
    }
    &__count{
        margin: 10px 0;
        color: #646464;
        font-size: 14px;
        font-weight: 300;
    }
    &__descr{
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
   
    }
}